/* Most comments may seem unnecessary or boring, but the purpose is that, perhaps, someday, who knows, it might help someone else. */

/* Base  */
body {
    color: green;
    font-family: 'Nunito', sans-serif;
    line-height: 1;
    display: flex;
    align-items: center; 
    min-height: 100vh; 
    flex-direction: column; 
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Title */
h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: darkgreen; 
  background-color: transparent; /* Make the title background transparent */

}

/* Site Description */
p {
  font-size: 1rem;
  color: grey;
  font-weight: 100;
  line-height: 0;
  background-color: transparent; /* Make the title background transparent */

}


/* Card container that holds and displays the individual projects */
/* Defines the layout and positioning of the project cards on the page */
.project-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  padding: 30px;
  justify-items: center; /* Centraliza todo o conjunto (imagem + texto) */
}


.project-card {
  width: 300px; /* Largura fixa */
  height: 250px; /* Altura fixa */
  border: 1px solid gainsboro;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajusta o espaçamento entre título e descrição */
}

.project-title {
  margin: 20px 0 5px 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: green;
  text-align: center;
  padding: 0 10px; /* Ajusta o padding para evitar sobreposição do texto */
}

.project-description {
  font-size: 1rem;
  color: grey;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 10px; /* Espaçamento interno */
  text-align: center;
  line-height: 1.4;
  word-wrap: break-word;
  flex-grow: 1; /* Permite que a descrição ocupe o espaço restante */
}

.card-wrapper {
  width: 300px; /* Igual à largura do .project-card */
  display: flex;
  flex-direction: column;
  align-items: center;
}