/* Reset default styles */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 400px; /* Ensures the form doesn't grow too large */
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #17044b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}